<div class="moodle-course-links">
   <ul class="links">
      <li>
         <a href="{{ url }}" target="_blank" title="{{ 'Access Course'|t }}">{{ 'Access Course'|t }}</a>
      </li>
   </ul>
</div>
{% for key, value in course_activity %}
<div class="container-row">
   <div class="section-wrapper">
      <header>
         <h3 class="section-title">
           {{ value.name }}
         </h3>
      </header>
      <div class="clearfix">
         <div class="field__label">{{ 'Summary'|t }}</div>
         <div class="field__items">
            <div class="field__item">
               <p>{{ value.summary | raw}}</p>
            </div>
         </div>
      </div>
      {% for key, modules in value.modules %}
      <details>
         <summary role="button" aria-controls="edit-moodle" aria-expanded="false" aria-pressed="false">{{ 'Activities'|t }}</summary>
         <div class="details-wrapper">
            <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-url form-item-url">
               <a href="{{ modules.url }}">
                  {{ modules.name }}
               </a>
            </div>
         </div>
      </details>
      {% endfor %}
   </div>
</div>
{% endfor %}

