{% if course_list %}
   {% for key, value in course_list %}
   <div class="container-row">
      <article class="clearfix">
         <header>
            <h3 class="course-title">
               {% if value.enrolled or moodle_connect_can_manage %}
               <a href="{{ value.url }}" target="_blank" rel="bookmark">
                  {{ value.fullname }}
               </a>
               {% else %}
               {{ value.fullname }}
               {% endif %}
            </h3>
         </header>

         {% if moodle_user_id %}
         <div class="clearfix">
            <div class="moodle-course-links">
               <ul class="links">
                  {% if value.enrolled or moodle_connect_can_manage %}
                  <li>
                     <a href="{{ value.url }}" target="_blank" title="{{ 'Access Course'|t }}">{{ 'Access Course'|t }}</a>
                  </li>
                  <li>
                     <a href="{{ value.content_url }}" title="{{ 'Activities'|t }}">{{ 'Activities'|t }}</a>
                  </li>
                  {% endif %}
                  <li>
                     <a href="##" moodle-user-id={{ moodle_user_id }} course-id={{ value.id }}
                  {% if not value.enrolled %}
                     id="moodle_enrol" title="Enroll in {{ value.fullname }}">{{ 'Enroll'|t }}
                  {% else %}
                     id="moodle_unenrol" title="Unenroll from {{ value.fullname }}">{{ 'Unenroll'|t }}
                  {% endif %}
                     </a>
                  </li>
               </ul>
            </div>
            {% endif %}

            {% if value.summary %}
            <div class="clearfix text-formatted field field--label-above">
               <div class="field__label">{{ 'Description'|t }}</div>
               <div class="field__items">
                  <div class="field__item">
                     <p>{{ value.summary | raw }}</p>
                  </div>
               </div>
            </div>
            {% endif %}
         </div>
      </article>
   </div>
   {% endfor %}
{% else %}
<div>
   <p>{{ 'There are no results to display.'|t }}</p>
</div>
{% endif %}